<div class="container-fluid">
  <div class="row">
    <form class="form-horizontal col-xs-12" role="form" method="POST" action="/persona/:id/delete" enctype="multipart/form-data">
      <p class="large-margin" style="font-size: 16px;">
        Do you want to delete this persona?
      </p>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" name="submit" class="btn btn-primary">Delete</button>
          <button type="reset" class="btn btn-default" onclick="location.href='/'">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
